@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Ubuntu Mono', monospace;
    background-color: #3e5f73;
    color: #fff;
    max-width: 1140px;
    margin: 0 auto;
}
header {
    /* padding: 16px 32px; */
    display: flex;
    align-items: center;
    color: #FABB51;
    justify-content: center;
    font-size: 1.5rem;
}
button {
    cursor: pointer;
    background-color: #FAEDC6;
    color:#000;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    padding: 10px 15px;
    margin: 10px; 
}
.App {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    min-height: 100vh;
}
.decrease {
    background-color: #fe938c;
}
.increase {
    background-color: #6191b5;
}
.reset {
    background-color: #e71d37;
}
h1 {
    color: #fff;
    margin: 2rem 0;
}
h2 {
    text-align: center;
    font-size: 2rem;
    color: #ead27a;
    margin: 2rem 0;
}
h2 span {
    color: #fff;
    font-size: 80%;
}
.score {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.get-btn {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 2rem 0;
}
.card {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    background-color: #3E8E7E;
    text-align: center;
    border-radius: 10px;
    width: 200px;
    padding: 10px;
}
.card h3 {
    width: 100%;
    color: #ead27a;
    margin: 1rem 0;
    text-transform: capitalize;
    font-size: 130%;
}
.card-info button {
    background-color: #1a2650;
    color: #fff;
    width: 30%;
    min-width: max-content;
    padding: 20px;
    font-size: 1.2rem;
}
.card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    width: 100%;
    padding: 20px 0;
    flex: 1;
}
