@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

body {
    font-family: 'Ubuntu Mono', monospace;
    background-color: #3E8E7E;
    color: #fff;
    max-width: 1140px;
    margin: 0 auto;
}
header {
    padding: 16px 32px;
    display: flex;
    align-items: center;
    color: #FABB51;
    justify-content: center;
    font-size: 1.5rem;
}
button {
    background-color: #FAEDC6;
    color:#3E8E7E;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    padding: 5px 10px;
    margin: 10px; 
}
h2 {
    text-align: center;
    font-size: 2rem;
}
.score {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.get-btn {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.card {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 200px;
    background-color: #fabb51;
    text-align: center;
    border-radius: 10px;
}
.card h3 {
    width: 100%;
}
.cards-info {
    /* display: flex; */
}
.card-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   
}
.card-info h2 {
    width: 100%;
}
footer {
    position: fixed;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 16px;
}